.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    color: #333;
}

.postList {
    display: flex;
    flex-direction: column;
}

.postItem {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 2rem;
}

.postItem:last-child {
    border-bottom: none;
}

.postLink {
    text-decoration: none;
    color: inherit;
    display: block;
}


.postLink:hover h2 {
    color: #663399;
}

.postLink h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: -0.8rem;
    transition: color 0.2s ease;
    color: #333;
}


.postLink h3 {
    font-size: 1.1rem;
    font-weight: 450;
    color: #555;
}

.metaContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.75rem;
}

.date {
    font-size: 0.8rem;
    color: #999;
    margin: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    font-size: 0.8rem;
    color: #999;
    font-weight: normal;
}

.postLink p {
    color: #666;
    line-height: 1.6;
    margin: 0;
}