.header {
    border-bottom: 1px solid #f0f0f0;
    padding: 1.5rem 0;
}

.container {
    /* max-width를 더 좁게 강제 조정 */
    max-width: 45rem;
    margin: 0 auto;
    /* padding을 제거하거나 아주 작게 설정 */
    padding: 0 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.3rem;
    text-decoration: none;
    color: #333333;
    font-weight: bolder;
}

.nav {
    display: flex;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    color: #333333;
    transition: color 0.2s ease;
}

.title:hover {
    color: #663399;
}

.navLink:hover {
    color: #663399;
}

.navLinkActive {
    color: #333;
}