---
layout: base
---

<div>
  <div class="post-meta-line">
    <span class="post-meta">{{ page.date | date: "%Y %b %-d" }}, {% assign words = content | number_of_words %}{% if words < 360 %}1 min{% else %}{{ words | divided_by: 200 }} mins{% endif %}</span>
    
    {%- if page.tags.size > 0 -%}
      <span class="post-tags-inline">
        {%- for tag in page.tags -%}
          <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="tag-small">{{ tag }}</a>
        {%- endfor -%}
      </span>
    {%- endif -%}
  </div>
  
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    
    <div id="table-of-contents">
      {% toc %}
    </div>
    <hr class="toc-divider">
    <div id="markdown-content">
      {{ content }}
    </div>

    {%- if page.comments -%}
      <hr>
      <div class="comments-wrapper">
        {%- include giscus.html -%}
      </div>
    {%- endif -%}
</div>

<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
